
/*--COULEURS--*/
/*
Racing Green : #1e3932
Salem Green : #008248
Humming Bird Green : #d4e9e2
Mint Cream : #f1f8f6
Alabaster cream : #f3f1e7
Black : #000000
*/

/*--variables--*/
$racing-green : #1e3932;
$salem-green : #008248;
$humming-bird-Green : #d4e9e2;
$mint-cream : #f1f8f6;
$alabaster-cream : #f3f1e7;
$black : #000000;

/*--mixins--*/


body{
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial',    sans-serif;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}


/*------------*/
/*---HEADER---*/
/*------------*/
.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    display: flex;
    width: 100%;
    height: 100px;
    font-weight: bold;
}

.logo{
    display: flex;
    width: 10%;
    justify-content: center;
    img{
        object-fit: cover;
        width: 60%;
        height: auto;
    }
}

.menu_subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    ul{
        list-style: none;
        li{
            display: inline-block;
            cursor: pointer;
        }
        li a{
            text-decoration: none;
            color: $black;
            margin: 0 20px 0 20px;
            padding-top: 2.5em;
            padding-bottom: 2.5em;

        }
        a:hover{
            border-bottom: 8px solid $salem-green;
        }
    }
}
.subscribe{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    font-size: 13px;
    a{
        display: flex;
        text-decoration: none;
        align-items: center;
        color: $black;
        margin: 0 20px 0 20px;
        img{
            width: 20px;
            height: auto;
            padding-right: 10px;
        }
    }
    a:nth-child(1):hover{
        color: $salem-green;
    }
}
.button{
    border: 1px solid;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    &:hover{
        background-color: rgba(128, 128, 128, 0.151);
    }
}
.button:nth-child(3){
    background-color: black;
    color: white;
    &:hover{
        background-color: rgba(32, 32, 32, 0.87);
    }
}


/*------------*/
/*---BANNER---*/
/*------------*/
.banner{
    position: relative;
    width: 100%;
    height: 100%;
    .banner_up{
        position: absolute;
        top: 0%;
        z-index: 5;
        background-color: $racing-green;
        width: 100%;
        height: 50px;
        padding-left: 200px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
        p{
            color: white;
        }
    }
}
.banner-image{
    z-index: 1;
    position: relative;
    img{
        max-width: 100%;
        height: auto;
        display: block;
    }
    .banner-text{
        z-index: 5;
        position: absolute;
        top: 40%;
        left: 5%;
        width: 40%;
        color: white;
        text-transform: none;
        p a{
                
            color: white;
        }
        button{
            color: white;
            font-weight: bold;
            background-color: $salem-green;
            border-radius: 25px;
            padding: 10px 15px 10px 15px;
            cursor: pointer;
        }
    }
}

/*-----------------*/
/*---EXPLICATION---*/
/*-----------------*/
