
/*--COULEURS--*/
/*
Racing Green : #1e3932
Salem Green : #008248
Humming Bird Green : #d4e9e2
Mint Cream : #f1f8f6
Alabaster cream : #f3f1e7
Black : #000000
*/

/*--variables--*/
$racing-green : #1e3932;
$salem-green : #008248;
$humming-bird-Green : #d4e9e2;
$mint-cream : #f1f8f6;
$alabaster-cream : #f3f1e7;
$black : #000000;

/*--mixins--*/


body{
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial',    sans-serif;
    font-weight: 600;
    margin: 0;

}
p{
    font-size: 1em;
    line-height: 1.8em;
}
h1{

}
h2{

}
h3{
    font-size: 1.5em;
}

/*------------*/
/*---HEADER---*/
/*------------*/
.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    display: flex;
    width: 100%;
    height: 100px;
    font-weight: bold;
}

.logo{
    display: flex;
    width: 10%;
    justify-content: center;
    img{
        object-fit: cover;
        width: 60%;
        height: auto;
    }
}

.menu_subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    ul{
        list-style: none;
        li{
            display: inline-block;
            cursor: pointer;
        }
        li a{
            text-decoration: none;
            color: $black;
            margin: 0 20px 0 20px;
            padding-top: 2.5em;
            padding-bottom: 2em;

        }
        a:hover{
            border-bottom: 8px solid $salem-green;
        }
    }
}
.subscribe{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    font-size: 13px;
    a{
        display: flex;
        text-decoration: none;
        align-items: center;
        color: $black;
        margin: 0 20px 0 20px;
        img{
            width: 20px;
            height: auto;
            padding-right: 10px;
        }
    }
    a:nth-child(1):hover{
        color: $salem-green;
    }
}
.button{
    border: 1px solid;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    &:hover{
        background-color: rgba(128, 128, 128, 0.151);
    }
}
.button:nth-child(3){
    background-color: black;
    color: white;
    &:hover{
        background-color: rgba(32, 32, 32, 0.87);
    }
}


/*------------*/
/*---BANNER---*/
/*------------*/
.banner{
    position: relative;
    width: 100%;
    height: 100%;
    .banner_up{
        position: absolute;
        top: 0%;
        z-index: 5;
        background-color: $racing-green;
        width: 100%;
        height: 50px;
        padding-left: 200px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
        p{
            color: white;
        }
    }
}
.banner-image{
    z-index: 1;
    position: relative;
    img{
        max-width: 100%;
        height: auto;
        display: block;
    }
    .banner-text{
        z-index: 5;
        position: absolute;
        top: 40%;
        left: 5%;
        width: 40%;
        color: white;
        text-transform: none;
        p a{
                
            color: white;
        }
        button{
            color: white;
            font-weight: bold;
            background-color: $salem-green;
            border-radius: 25px;
            padding: 10px 15px 10px 15px;
            cursor: pointer;
        }
    }
}


/*-----------------*/
/*---EXPLICATION---*/
/*-----------------*/
.main_block_explication{
    display: flex;
    flex-direction: column;
    text-transform: none;
    margin: 100px 20px 100px 20px;
}
.block_explication_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin-bottom: 5px;
        letter-spacing: 0px;
    }
}
.block_explication{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 10px 0;
    .block_explication_step{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 30%;
        margin: 20px;
        padding: 0 25px 0 25px;
        img{
            width: 15%;
        }
        h3{
            margin: 30px 0 30px 0;
        }
        p{
            margin: 0;
        }
        a{
            color: $salem-green;
        }
    }    
}


/*----------------*/ 
/*---BLOCK STAR---*/ 
/*----------------*/
.block_star{
    background-color: $mint-cream;
    .block_star_title{
        text-align: center;
        padding: 30px 0 30px 0;
    }
}
.block_star_choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block_star_button{
    max-width: 60%;
    display: flex;
    justify-content: center;
    button{
        background-color: $mint-cream;
        border: none;
        width: 20%;
        height: auto;
        img{
            width: 10%;
            height: auto;
        }
    }
}
.block_star_description{
    display: flex;
    align-items: center;
    background-color: $humming-bird-Green;
    width: 70%;
    height: 300px;
    img{
        justify-content: center;
        width: 100%;
        height: auto;
    }
    &__image{
        width: 50%;
    }
    &__full{
        width: 50%;
    }
}


/*-------------------------*/ 
/*---BLOCK EXPLICATION 3---*/ 
/*-------------------------*/
.main_block_explication_3{
    background-color: $alabaster-cream;
    display: flex;
    flex-direction: column;
}
.block_explication_title_3_title{
    display: flex;
    align-items: center;

}
.grid-container{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    .grid{
        border: solid black;
        min-height: 200px;
    }
}

.block_explication_3{
    .card_left_explication_3{
        img{
            width: 10px;
            height: auto;
        }  
    }
    .card_explication_3{
        display: flex;
        .card_image{
            width: 50px;
        }
    }
    .card_description_3{
        display: flex;
        flex-direction: column;
        h3{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}