/*--COULEURS--*/
/*--variables--*/
$racing-green : #1e3932;
$salem-green : #008248;
$humming-bird-Green : #d4e9e2;
$mint-cream : #f1f8f6;
$alabaster-cream : #f3f1e7;
$black : #000000;

/*--mixins--*/



/*------------*/ 
/*----BODY----*/ 
/*------------*/
body{
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial',    sans-serif;
    font-weight: 600;
    letter-spacing: 1.4px;
    margin: 0;
}
p{
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 500;
}
h2{
    font-weight: 600;
}
h3{
    font-size: 1.5em;
}



/*------------*/
/*---HEADER---*/
/*------------*/
.header{
    z-index: 15;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 100px;
    font-weight: bold;
    .menu-logo{
        display: none;
        cursor: pointer;
    }
}

.logo{
    display: flex;
    width: 100px;
    justify-content: center;
    margin-left: 50px;
    img{
        object-fit: cover;
        width: 100px;
        margin: 10px;
        height: auto;
    }
}
.menu_subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    ul{
        list-style: none;
        li{
            display: inline-block;
            cursor: pointer;
        }
        li a{
            text-decoration: none;
            color: $black;
            margin: 0 20px 0 20px;
            padding-top: 2.5em;
            padding-bottom: 2em;

        }
        a:hover{
            border-bottom: 8px solid $salem-green;
        }
    }
}
.subscribe{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    font-size: 13px;
    a{
        display: flex;
        text-decoration: none;
        align-items: center;
        color: $black;
        margin: 0 20px 0 20px;
        img{
            width: 20px;
            height: auto;
            padding-right: 10px;
        }
    }
    a:nth-child(1):hover{
        color: $salem-green;
    }
}
.button{
    border: 1px solid;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    &:hover{
        background-color: rgba(128, 128, 128, 0.151);
    }
}
.button:nth-child(3){
    background-color: black;
    color: white;
    &:hover{
        background-color: rgba(32, 32, 32, 0.87);
    }
}

.content {
    padding: 16px;
  }
.sticky {
    position: fixed;
    top: 10px;
    width: 100%
  }
.sticky + .content {
    padding-top: 102px;
}

@media (max-width: 991px) {
    .menu_subscribe{
        display: none;
    }
    .header {
        .menu-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            font-weight: normal;
            margin-right: 50px;
        }
    }
}




/*------------*/
/*---BANNER---*/
/*------------*/
.banner{
    position: relative;
    width: 100%;
    height: 100%;
    .banner_up{
        display: flex;
        z-index: 10;
        background-color: $racing-green;
        width: 100%;
        height: 50px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
        p{
            display: flex;
            align-items: center;
            margin: 0;
            color: white;
            font-weight: bold;
            padding-left: 210px;
        }
    }
}

.stickyBanner{
    position: fixed;
    top: 100px;
    width: 100%;    
}

.banner-image{
    z-index: 1;
    position: relative;
    img{
        width: 100%;
        height: 800px;
        object-fit: cover;
        display: block;
    }
    .banner-text{
        z-index: 5;
        position: absolute;
        top: 40%;
        left: 30%;
        width: 40%;
        color: white;
        transform: translate(-50%, -50%);
        h1{
            font-size: 2.2em;
        }
        p{
            font-size: 1.2em;
            font-weight: 400;
        }
        p a{
            color: white;
        }
        button{
            color: white;
            font-weight: bold;
            background-color: $salem-green;
            border-radius: 25px;
            padding: 10px 15px 10px 15px;
            cursor: pointer;
            border: none;
        }
        button:hover{
            background: #019251;
        }
    }
}

@media (min-width: 768px) and (max-width: 1030px) {
    .banner_up p{
        padding-left: 20px!important;
    }
    .banner-text{
        width: 50%;
        top: 40%;
        left: 50%!important;
        text-align: center;
        p, h1{
            text-align: center;
        }
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .banner_up p{
        padding-left: 65px!important;
    }
    .banner-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%!important;
        left: 50%!important;
        p, h1{
            text-align: center;
        }
        h1{
            font-size: 1.4em!important;
            padding: 0;
        }
        p{
            font-size: 1em!important;
        }
        button{
            width: 100px;
        }
    }
}



/*-----------------*/
/*---EXPLICATION---*/
/*-----------------*/
.main_block_explication{
    display: flex;
    flex-direction: column;
    text-transform: none;
    margin: 100px 20px 100px 20px;
}
.block_explication_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
    h2{
        margin-bottom: 5px;
        letter-spacing: 0px;
        font-weight: bold;
    }
}
.block_explication{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
    .block_explication_step{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        margin: 30px;
        padding: 0 25px 0 25px;
        img{
            width: 15%;
        }
        &__text-block{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h3{
                margin: 30px 0 0 0;
            }
            p{
                margin: 20px;
            }
            a{
                color: $salem-green;
            }
        }
        &__step-block{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h3{
                margin: 30px 0 0 0;
            }
            p{
                margin: 20px;
            }
            a{
                color: $salem-green;
            }
        }
    }    
}

@media (max-width: 768px) {
    .block_explication{
        display: flex;
        flex-direction: column;
        margin: 10px;
        .block_explication_step{
            flex-direction: row;
            justify-content: center;
            padding: 0;
            width: 90%;
            &__text-block{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                text-align: start;
                margin-left: 20px;
                h3{
                    margin: 0;
                }
                p{
                    margin: 20px 0 20px 0;
                    width: 100%;
                }
            }
            &__step-block{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                text-align: start;
                margin-left: 10px;
                width: 90%;
                h3{
                    margin: 0;
                }
                p{
                    margin: 20px 0 20px 0;
                    width: 100%;
                }
            }
            img{
                width: 10%;
                height: auto;
            }
        }
    }

}



/*----------------*/ 
/*---BLOCK STAR---*/ 
/*----------------*/
.block_star{
    background-color: $mint-cream;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 500px;
    .block_star_title{
        text-align: center;
        padding: 30px 0 30px 0;
    }
}
.block_star_choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block_star_button{
    overflow: hidden;
    width: 60%;
    display: flex;
    justify-content: center;
    button{
        background-color: $mint-cream;
        float: left;
        outline: none;
        cursor: pointer;
        padding: 1em 0 1em 0;
        border: none;
        width: 15%;
        height: auto;
        border-bottom: 8px solid $mint-cream;

        img{
            width: 13px;
            height: auto;
        }
        h3{
            font-size: 1.8em;
            font-weight: 600;
        }
    }
}

.tablinks:focus{
    border-bottom: 8px solid $salem-green;
    transition: 0.3s;
}

.tabcontent{
    display: none;
    background-color: $humming-bird-Green;
    width: 100%;
}

.block_star_description{
    display: flex;
    margin: auto;
    align-items: center;
    background-color: $humming-bird-Green;
    width: 60%;
    height: 300px;
    &__image{
        margin: 0;
        display: flex;
        justify-content: center!important;
    }
    &__image img{
        object-fit:contain;
        width: 70%;
        margin: 0;
    }
    &__full{
        width: 50%;
        margin: 0;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .block_star_button{
        width: 100%;
    }
    .block_star_description{
        flex-direction: column;
        width: 90%;
        height: auto;
        &__full{
            text-align: center;
        }
    }
}



/*-------------------------*/ 
/*------CASH OR CARD-------*/ 
/*-------------------------*/
.cashorcard_main_block{
    background-color: $alabaster-cream;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    h2{
        font-size: 2em;
        font-weight: bold;
        margin: 0;
    }
    h3{
        margin: 0;
    }
    hr{
        resize: 1px;
        width: 100%;
        margin-bottom: 2.5em;
    }
    a{
        color: $salem-green;
    }
    .cashorcard_block_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 4em;
        margin:auto;
        width: 60%;
        h2{
            text-align: center;    
        }
        p{
            text-align: center;
            margin-bottom: 5em;
        }
    }
}
#cashorcard_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em;
    .cashorcard_block{   
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: auto;
        .cashorcard_card_left{
            display: flex;
            flex-direction: column;
            width: 20%;
            padding-bottom: 2em;
            img{
                width: 15px;
                height: auto;
            }
            p{
                margin: 0;
            }
        }
        .cashorcard_card{
            display: flex;
            width: 40%;
            align-items: flex-start;
            min-height: auto;
            .card_image{
                max-width: 100px;
                height: 100%;
                margin-right: 10px;
            }
            &__description{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
            }
            &__description h3{
                font-size: 1.2em;
                margin: 0;
            }
        }
    }
}



@media (min-width: 768px) and (max-width: 1020px) {
    #cashorcard_block{
        padding: 2em 1em 2em 1em;
    }
    .cashorcard_block{
        display: flex;
        flex-wrap: wrap;
        .cashorcard_card_left{
            width: 100%;
        }
        .cashorcard_card{
            width: 40%;
            height: auto;
        }
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    #cashorcard_block{
        padding: 2em 1em 2em 1em;
    }
    .cashorcard_block{
        flex-direction: column;
    }
    .cashorcard_card_left{
        width: 90%!important;
    }
    .cashorcard_card{
        width: 90%!important;
    }
}



/*----------------*/ 
/*-----FOOTER-----*/
/*----------------*/ 
footer{
    margin: 30px 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .social_network{
        display: flex;
        color: black;
        padding: 0;
        li{
            list-style: none;
            margin-left: 15px;
            margin-right: 15px;
            a{
                color: black;
                font-size: 2.5em;
                cursor: pointer;
            }
        }
    }
    .terms{
        display: flex;
        justify-content: flex-start;
        padding: 0;
        li{
            list-style: none;
            font-size: 1.2em;
            margin-left: 15px;
            margin-right: 15px;
            a{
                color: black;
            }
        }
    }
    p{
        display: flex;
        justify-content: flex-start;
        color: $racing-green;
        font-weight: 400;
        margin: 15px;
    }
}



/*----------------------*/ 
/*-----Button Slide-----*/
/*----------------------*/

$num-of-tabs: 5;

@mixin tabs {
    @for $i from 1 through $num-of-tabs {
        &:nth-of-type(#{$i}) {
            &:checked {
                ~ .slide {
                left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
             }
            }
        }
    }
}

body {
    width: 100%;
    margin: 0;
}

.container_button{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: -190px;
    background-color: $humming-bird-Green;
    h2{
        font-size: 1.5em;
        font-weight: bold;
    }
}

.tab-wrap {
    background-color: $humming-bird-Green;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    position: absolute;
    z-index: -2;
    width: 100%;
    top: 0;
    height: 370px;
    background-color: $mint-cream;
}

input[type="radio"][name="tabs"] {
    position: absolute;
    z-index: -1;

    &:checked {
        + .tab-label-content {
            label {
                color: $black;
            }
            .tab-content {
                background-color: $mint-cream;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 300px;
                padding: 20px;
                margin: auto;
                left: -20px;
                animation-name: FadeIn;
                animation-duration: 0.5s;
                transition-timing-function: linear;
                @keyframes FadeIn {
                    0% {
                    opacity: 0.5;
                    }
                    100% {
                    opacity: 1;
                    }
                }
                &__image{
                    min-width: 50%;
                    max-width: 50%;
                    img{
                        width: 100%;
                    }
                }
                &__full{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
    @include tabs;
        &:first-of-type {
        &:checked {
        ~ .slide {
                left: 0;
            }
        }
    }
}

label {
    cursor: pointer;
    color: $black;
    background-color: $humming-bird-Green;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 56px;
    transition: color 0.5s ease;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 1em;
    img{
        width: 12px;
        height: auto;
    }
}

.slide {
    background: $salem-green;
    width: calc(100% / #{$num-of-tabs});
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    transition: left 0.5s ease-out;
}

.tab-label-content {
    width: 100%;
    .tab-content {
        position: absolute;
        /*top: 100px;*/
        left: 0px;
        display: none;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        padding: 40px 0 90px 10%;
    }
    .tab-wrap {
        width: 80%;
        /*margin-left: 10%;
        top: -106px;*/
    }
}