/*--COULEURS--*/
/*
Racing Green : #1e3932
Salem Green : #008248
Humming Bird Green : #d4e9e2
Mint Cream : #f1f8f6
Alabaster cream : #f3f1e7
Black : #000000
*/
/*--variables--*/
/*--mixins--*/
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.8em;
}

h2 {
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
}

/*------------*/
/*---HEADER---*/
/*------------*/
.header {
  z-index: 15;
  display: flex;
  justify-content: space-between;
  background-color: white;
  display: flex;
  width: 100%;
  height: 100px;
  font-weight: bold;
}

.logo {
  display: flex;
  width: 10%;
  justify-content: center;
}
.logo img {
  object-fit: cover;
  width: 100px;
  margin: 10px;
  height: auto;
}

.menu_subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline-block;
  cursor: pointer;
}
.menu ul li a {
  text-decoration: none;
  color: #000000;
  margin: 0 20px 0 20px;
  padding-top: 2.5em;
  padding-bottom: 2em;
}
.menu ul a:hover {
  border-bottom: 8px solid #008248;
}

.subscribe {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  font-size: 13px;
}
.subscribe a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #000000;
  margin: 0 20px 0 20px;
}
.subscribe a img {
  width: 20px;
  height: auto;
  padding-right: 10px;
}
.subscribe a:nth-child(1):hover {
  color: #008248;
}

.button {
  border: 1px solid;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(128, 128, 128, 0.151);
}

.button:nth-child(3) {
  background-color: black;
  color: white;
}
.button:nth-child(3):hover {
  background-color: rgba(32, 32, 32, 0.87);
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 10;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/*------------*/
/*---BANNER---*/
/*------------*/
.banner {
  position: relative;
  width: 100%;
  height: 100%;
}
.banner .banner_up {
  display: flex;
  z-index: 10;
  background-color: #1e3932;
  width: 100%;
  height: 50px;
  padding-left: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
}
.banner .banner_up p {
  display: flex;
  align-items: center;
  margin: 0;
  color: white;
  font-weight: bold;
}

.stickyBanner {
  position: fixed;
  top: 100px;
  width: 100%;
}

.banner-image {
  z-index: 1;
  position: relative;
}
.banner-image img {
  max-width: 100%;
  height: auto;
  display: block;
}
.banner-image .banner-text {
  z-index: 5;
  position: absolute;
  top: 40%;
  left: 5%;
  width: 40%;
  color: white;
  text-transform: none;
}
.banner-image .banner-text p a {
  color: white;
}
.banner-image .banner-text button {
  color: white;
  font-weight: bold;
  background-color: #008248;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

/*-----------------*/
/*---EXPLICATION---*/
/*-----------------*/
.main_block_explication {
  display: flex;
  flex-direction: column;
  text-transform: none;
  margin: 100px 20px 100px 20px;
}

.block_explication_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block_explication_title h2 {
  margin-bottom: 5px;
  letter-spacing: 0px;
}

.block_explication {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 10px 0;
}
.block_explication .block_explication_step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  margin: 20px;
  padding: 0 25px 0 25px;
}
.block_explication .block_explication_step img {
  width: 15%;
}
.block_explication .block_explication_step h3 {
  margin: 30px 0 30px 0;
}
.block_explication .block_explication_step p {
  margin: 0;
}
.block_explication .block_explication_step a {
  color: #008248;
}

/*----------------*/
/*---BLOCK STAR---*/
/*----------------*/
.block_star {
  background-color: #f1f8f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.block_star .block_star_title {
  text-align: center;
  padding: 30px 0 30px 0;
}

.block_star_choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block_star_button {
  overflow: hidden;
  max-width: 60%;
  display: flex;
  justify-content: center;
}
.block_star_button button {
  background-color: #f1f8f6;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 1em 0 1em 0;
  border: none;
  width: 20%;
  height: auto;
}
.block_star_button button img {
  width: 10%;
  height: auto;
}
.block_star_button button:focus {
  border-bottom: 8px solid #008248;
  transition: 0.3s;
}

.tabcontent {
  display: none;
  background-color: #d4e9e2;
  width: 100%;
}

.block_star_description {
  display: flex;
  margin: auto;
  align-items: center;
  background-color: #d4e9e2;
  width: 70%;
  height: 300px;
}
.block_star_description__image {
  margin: 0;
  display: flex;
  justify-content: center !important;
}
.block_star_description__image img {
  object-fit: contain;
  width: 50%;
  margin: 0;
}
.block_star_description__full {
  width: 50%;
  margin: 0;
}

/*-------------------------*/
/*---BLOCK EXPLICATION 3---*/
/*-------------------------*/
.main_block_explication_3 {
  background-color: #f3f1e7;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.main_block_explication_3 h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}
.main_block_explication_3 h3 {
  margin: 0;
}
.main_block_explication_3 hr {
  display: block;
  height: 1px;
  width: 100%;
  color: black;
}
.main_block_explication_3 a {
  color: #008248;
}
.main_block_explication_3 .block_explication_3_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}

.block_explication_3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.block_explication_3 .card_left_explication_3 {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.block_explication_3 .card_left_explication_3 img {
  width: 15px;
  height: auto;
}
.block_explication_3 .card_explication_3 {
  display: flex;
  width: 30%;
  max-height: 350px;
  min-height: auto;
}
.block_explication_3 .card_image {
  width: auto;
  height: 60%;
  margin-right: 10px;
}
.block_explication_3__description {
  display: flex;
  flex-direction: column;
}
.block_explication_3__description h3 {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
